html {
  scrollbar-gutter: auto;
}

body {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  background: url("/assets/background-stars.svg") center / cover no-repeat;
}

.container {
  padding-left: clamp(1.5rem, calc(1.5rem + 0.1916 * (100vw - 30rem)), 400rem);
  padding-right: clamp(1.5rem, calc(1.5rem + 0.1916 * (100vw - 30rem)), 400rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 2rem;
  box-shadow: inset 0 -1px 0 0 #4c4c4c;

  .header__hamburger {
    display: none;
  }

  .header__nav-list {
    display: flex;
    gap: 2rem;

    .header__nav-link {
      color: #c8c8c8;
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;

      &::before {
        display: none;
        content: "";
        position: absolute;
        top: -2.25rem;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--planet-color, #fff);
      }

      &:hover {
        color: #fff;

        &::before {
          display: block;
        }
      }

      &.active-planet {
        color: #fff;

        &::before {
          display: block;
        }
      }
    }
  }
}

.planet {
  display: grid;
  grid-template-columns: 1fr 21.875rem;
  grid-template-rows: repeat(2, auto);
  column-gap: 2.75rem;
  row-gap: 1.5rem;
  margin-top: 10.125rem;
  margin-bottom: 5rem;

  .planet__figure {
    grid-column: 1;
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    position: relative;

    &.planet__figure--geology {
      .planet__img-geology {
        position: absolute;
        bottom: -11%;
        left: 50%;
        transform: translateX(-50%) scale(0.5);
        transform-origin: center bottom;
      }
    }
  }

  .planet__header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .planet__title {
      font-family: "Antonio", sans-serif;
      font-size: 5rem;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    .planet__description {
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5625rem;
      color: #c8c8c8;
    }

    .planet__source {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #c8c8c8;

      .planet__source-link {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }

  .planet__tabs {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .planet__tabs-button {
      border: 1px solid #4c4c4c;
      border-radius: 0;
      padding: 0.75rem 1.75rem;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: transparent;
      transition: all 0.3s ease;

      p {
        display: flex;
        align-items: center;
      }

      &:hover {
        background-color: #4c4c4c;
        color: #fff;
      }

      &.active {
        background-color: var(--planet-color, #6d2ed5);
        border: none;
      }

      .num-span {
        color: #c4c4c4;
        margin-right: 1.5rem;
      }
    }
  }
}

.planet-stats {
  display: flex;
  gap: clamp(1rem, calc(1rem + 1.5 * ((1440px - 100vw) / 1065)), 2.5rem);
  margin-bottom: 2.5rem;

  .planet-stats__item {
    flex-basis: 25%;
    text-transform: uppercase;
    border: 1px solid #4c4c4c;
    padding: 1rem 1.25rem;

    .planet-stats__item-title {
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 1px;
      color: #7a7a7a;
    }

    .planet-stats__item-value {
      font-family: "Antonio", sans-serif;
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

